#whyus{
    display: flex;
    padding: 10%;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

    >section{
        width: 50%;

        >h1{
            font-size: 50px;
            font-weight: 400;
            color: gray;
            // margin-top: 60px;
        }

        >h3{
            color: gray;
            opacity: 75%;
            font-weight: 400;
            margin-top: 50px;
        }

        >p{
            color: black;
            width: 90%;
            margin-top: 20px;
            overflow: scroll;
            font-size: 20px;
            opacity: 75%;
            height: 50%;
            text-align: justify;

            &::-webkit-scrollbar{
                display: none;
            }
        
        }
    }
    >aside{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        >img{
            height: 100%;
            width: 75%;
            object-fit: cover;
        }
        >iframe{
            height: 100%;
            width: 75%;
        }
    }
}